*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: monospace;
}

nav{
    background:#4786e5;
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 30px;
    font-weight: bold;
    font-family: 'Inconsolata', monospace;
}

nav ul{
    float:right;
    margin-right: 20px;
    font-family: 'Nunito Sans', sans-serif;

}
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin:0 5px;
}
nav ul li a{
    color:white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    
}
a:hover{
    background:#1b9bff;
    transition:.1s;
}
img{ 
    margin:none;
    height: 625px;
    width:100%;
    position: relative;
    top:-10px;
}
h3{
    margin: 100px;
    position: relative;
    top: -700px; 
    font-size: 50px;
    font-family: 'Arimo', sans-serif;
    color: white;
}
#best{
    margin: 100px;
    position: relative;
    top: -780px;
     font-size: 20px; 
    font-family: 'Arimo', sans-serif; 
    color: white;
}
.btn{
    position:relative;
    top: -1070px;
    left:1470px;
    background-color:white;
    border-color:white ;
    cursor:pointer;
    font-size: 20px;
    width:30px;
    height:30px;
    padding: 0px;
}
.middle{
    position:relative;
    top: -400px;
    text-align: center;
    /* font-size: 20px; */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.middle h4{
    font-size: 15px;
    opacity: 0.4;
}
.middle h1{
    font-size: 40px;
}

#applestore button{
    height: 50px;
    width:200px;
    position:relative;
    margin: 100px;
    top: -1110px;
    border-radius: 5px;
    border-color:#4786e5 ;
    

}
#playstore button{
    height: 50px;
    width:200px;
    position:relative;
    margin: 310px;
    top: -1570px;
    border-radius: 5px;
    border-color:#4786e5 ;

}
h6{
    margin: 100px;
    position: relative;
    top: -1970px;
     font-size: 12px; 
    font-family: 'Arimo', sans-serif; 
    color: white;
    opacity: 0.5;
}
#dynamic1{
    text-align: center;
    position:relative;
    top:-1510px;
    font-size: 20px;
    line-height: 1.8;
    font-family: 'Roboto', sans-serif;
    opacity:0.5;
 

}
#dynamic2{
    text-align: center;
}

#c1{
    
    position:relative;
    top:-1400px;
    left: 400px;
    font-size: 25px;
}
#aa{position:relative;
    top:-1390px;
    left: 400px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
}
#para1{
    position:relative;
    left: 400px;
    top:-1370px;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
    opacity: 0.5;

}
#c2{
    
    position:relative;
    top:-1600px;
    left: 800px;
    font-size: 25px;
}
#ab{position:relative;
    top:-1590px;
    left: 800px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
}
#para2{
    position:relative;
    left: 800px;
    top:-1570px;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
    opacity: 0.5;

}
#c3{
    
    position:relative;
    top:-1490px;
    left: 400px;
    font-size: 25px;
}
#ac{position:relative;
    top:-1480px;
    left: 400px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
}
#para3{
    position:relative;
    left: 400px;
    top:-1460px;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
    opacity: 0.5;

}
#c4{
    
    position:relative;
    top:-1690px;
    left: 800px;
    font-size: 25px;
}
#ad{position:relative;
    top:-1680px;
    left: 800px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
}
#para4{
    position:relative;
    left: 1px;
    top:-6px;
    font-size: 17px;
    line-height: 1.7;
    font-family: 'Mukta', sans-serif;
    opacity: 0.5;
}
#image2{
    position: relative;
    left: -800px;
    top:80px;
}
.enthu{
    position: relative;
    left: -700px;
    top:-470px;
}
#intrin{
    font-size: 18px;
    font-weight: 400;
    color: white;
}
#para5{
    position:relative;
    left: -700px;
    top:-475px; 
    line-height: 1.9;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: white;
    font-weight: 100;

}
.appropriate{
    position: relative;
    left: -700px;
    top:-450px;
}
#appropriate{
    font-size: 18px;
    font-weight: 400;
    color: white;
}
#para6{
    position:relative;
    left: -700px;
    top:-455px; 
    line-height: 1.9;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: white;
    font-weight: 100;

}
.complete{
    position: relative;
    left: -700px;
    top:-420px;
}
#complete{
    font-size: 18px;
    font-weight: 400;
    color: white;
}
#para7{
    position:relative;
    left: -700px;
    top:-430px; 
    line-height: 1.9;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: white;
    font-weight: 100;

}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
*{
    margin: 0; padding: 0; border: 0; box-sizing: border-box;
}
.container { 
    min-height: 10vh;
    display: flex;
}
.left_side{
    position: relative;
    margin-left: -45%;
    min-height: 10vh;
    width:35vw;
    margin-top: -170px;
}
.right_side{position: relative;
    margin-left: -4%;
    min-height: 10vh;
    width:50vw;
    margin-top: -500px;

}
.learnme{
    background-color:#3d80e4; 
    height: 1.3cm; 
    width: 3.5cm;
    color: white;
    font-weight: 600; 
    border-radius: 5px;
}
.contain_2{
    background-color: #f5f9fe;
    position:relative;
    margin:auto;
    top:250px;
    left:-800px;
    text-align: center;
}
.recus{
    font-weight: 500;
    line-height: 1.5;
    opacity: 0.5;
}
.gallary{
    font-size: 18px;
    font-weight: bolder; 
     
    opacity: 0.5;
}
.screenshots{
    position: relative;
    width: 100%;
    height:auto;
    background:#f5f9fe ;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    top: 80px;

}
.four{
    width:auto;
    margin: auto;
    box-sizing: border-box;
    
}
#003{
    position: relative;
    top:-40px;
}
.free{
    position: relative;
    background-color: #3d80e4;
    left:-21.2cm;
}
.frequent{
    position: relative;
    left:-21.2cm;
    background-color: #204479;
    color:white;
    align-content: center;
    height: 13cm;
}
#frqnt{
    position: relative;
    top:320px ;
    font-size:x-large;
    text-align: center;
}
.during{
    position: relative;
    left:2cm; 
    font-size: 20px;
    top: -1.6cm;
    font-size: 12px;font-family: 'Varela Round', sans-serif; font-weight: 400;
    line-height: 1.9;
    opacity: 0.5;
}
.rectangle_1{
    height: 10cm;
    width: 7cm;
    border-radius: 15px;
    background-color: white;
    position: relative;
    left:18cm;
    top:-9cm;
}
.rectangle_2{
    height: 11cm;
    width: 7cm;
    border-radius: 15px;
    background-color: white;
    position: relative;
    left:25.5cm;
    top:-19cm;
}
.startup{
    position: relative;
    top:1cm;
    left:1cm;
    font-size: 11px;
}
#free{
    position: relative;
    /* left:1cm; */
}
